<%- include('../partials/header')  %> 
<%- include('../partials/navbar')  %> 

<div class="container">
    <div class="row">
        <div class="card p-0 mt-4">
            <div class="card-header">
                Administração do Blog
            </div>
            <div class="card-body">
                Bem vindo à administração do Blog. Aqui, você poderá manipular os artigos e categorias cadastradas
            </div>
        </div>
    </div>
</div>

<%- include('../partials/bottom')  %> 