<footer class="container-fluid">
    <div class="row bg-dark p-5 mt-5 text-light fw-lighter d-flex align-items-center">
      <div class="col-md-4  p-4 m-2 m-md-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent text-light">Home</li>
          <li class="list-group-item bg-transparent text-light">Quem somos</li>
          <li class="list-group-item bg-transparent text-light">FAQ</li>
          <li class="list-group-item bg-transparent text-light">Contato</li>
        </ul>
      </div>
      <div class="col-md-4  p-4 m-2 m-md-0 d-flex flex-row flex-wrap justify-content-center fs-3">
        <a href="" class=""><i class="fa-brands fa-facebook-f mx-3"></i></a>
        <a href="" class=""><i class="fa-brands fa-linkedin-in mx-3"></i></a>
        <a href="" class=""><i class="fa-brands fa-twitter mx-3"></i></a>
        <a href="" class=""><i class="fa-brands fa-github mx-3"></i></a>
        <a href="" class=""><i class="fa-brands fa-instagram mx-3"></i></a>
      </div>
      <div class="col-md-4  p-4 m-2 m-md-0">
        <form action="">
          <div class="input-group">
            <input type="text" name="search" placeholder="search" id="search" class="form-control">
            <button class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </form>
      </div>
    </div>
  </footer>